<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <ul>
                <li>
                    <app-primary-btn 
                        [text]="'Aprovar'"  
                    ></app-primary-btn>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3">
            <ul>
                <li>
                    <app-filter-btn [text]="'Filtro'" [typeFilter]="'stock'"
                        (click)="teste()"></app-filter-btn>
                </li>
            </ul>
        </div>
    </div>
</div>